/* General setup; do not change the given CSS code. Add your own CSS code at the bottom! */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */


/* General text styling */
body {
  letter-spacing: 0.05rem;
  word-spacing: 0.1rem;
  font-family: 'Merriweather', serif; /* Using Google Font */
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.1rem;
  text-align: left; 
  font-family: "Headland One", serif; /* Using Google Font */
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  line-height: 1.8;
  letter-spacing: 0.05rem;
  font-size: 0.875rem;
  text-align: justify;
  font-weight: 500; /* Make the text bit bolder */

}

section h2 + p {
  text-indent: 1.25rem; 
}

/* Links */
a {
  color: #a66;
  text-decoration: underline;
}

a:visited {
  color: #905;
}

a:hover, a:focus {
  text-decoration: none; 
}

a:active {
  background-color: #ddd;
  color: #a66;
  border-bottom: 2px solid #a66; 
}

/* External link icon */
a[href^="http://"], a[href^="https://"]::after {
  content: " ";
  display: inline-block;
  width: 0.75rem; 
  height: 0.75rem;  
  background-image: url(external-link-52.png);
  background-size: contain;  
  background-repeat: no-repeat;  
  margin-left: 0.2rem;  
  vertical-align: middle;
}


/* Lists */
ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem; /* Adjust to fit design */
  font-size: 0.75rem;
  list-style-type: square;
}

li {
  line-height: 1.8;
}

/* Navigation menu */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 1rem;
}

nav ul li a {
  color: rgb(2, 0, 0);
  font-weight: bold;
  font-size: 0.852rem;
  letter-spacing: 0.05rem;
  display: block;
  padding: 1.5rem 1rem;
  text-align: center;
  border: 2px solid #a66;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin: 0.5rem 0;
}

nav ul li a:hover {
  border-color: #905; /* Darker color on hover */
  background-color: #f0f0f0;
  text-decoration: none;
}

ol{
  list-style-type: decimal;
}

/* Remove focus outlines */
a:focus {
  outline: none;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.725rem;
}
